<div class="jumbotron text-center moon-bg" style="margin-bottom:0">
    <!--<img src="../../assets/img/test.png" alt="logo">-->
    <h2>Sébastien Doore</h2>
    <h3>Compositeur - batteur</h3>
</div>
  
<nav class="navbar navbar-expand-sm navbar-light blue-bg">
    <div class=" navbar-collapse">
        <ul class="navbar-nav center-nav font-weight-bold">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="agenda">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="video">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="audio">Audio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="mantras">Mantras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="contact">Contact</a>
            </li>
        </ul>
    </div>  
</nav>
