.blue-bg {
    background-color: #000000;
}
.moon-bg {
    background-color: #ffffff;
}

.center-nav {
    margin: auto;
    color: #ffffff;
    font-size: 22px;
}

.text-white {
    color: #ffffff;
}