<h2>{{ newsItem.title }}</h2>

<h5>{{ newsItem.subtitle }} - {{ newsItem.date }}</h5>

<div>
    <a href="{{ newsItem.link }}">
        <img src="{{ newsItem.imageUrl }}" class="img fluid img-thumbnail">
    </a>
</div>

<p [innerHTML]="newsItem.text">
    
</p>

<br>
