<!--<h3>Présentation</h3>-->
<div>
    <img src="../../assets/img/excelsior-drums.jpg" class="img fluid img-thumbnail">
</div>

<p>
    Né dans une famille de musiciens, Sébastien a commencé à composer très jeune au piano,
    utilisant des techniques classiques d'harmonisation de mélodie et de progression d'accords, 
    pour créer des pièces et des ambiances spécifiques.
</p>
<p>
    Touché par l'énergie dansante que soulève cet instrument particulier qu'est la batterie, 
    il décide de se spécialiser au Conservatoire de jazz et puis à l'Ecole régionale de batterie de Lille.
</p>

<p>
    En tant que compositeur spécialisé en batterie il imprègne ses créations d'une dynamique particulière, 
    en veillant à faire pulser de vie chaque mélodie grâce à des notes et des rythmes envoûtants.
</p>

<h4>Rejoignez-nous</h4>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
    <!--Facebook-->
        <a class="nav-link fa fa-facebook" href="https://www.facebook.com/astraljourneymusic/">
        Facebook
        </a>
    </li>

    <!--Youtube-->
    <li class="nav-item">
        <a class="nav-link fa fa-youtube" href="https://www.youtube.com/channel/UCqTlxN56mUG_f1QB2H9GuQA">
        Youtube
        </a>
    </li>

    <!--Instagram-->
    <li class="nav-item">
        <a class="nav-link fa fa-instagram" href="https://www.instagram.com/kirtan_rajdeep_singh/?hl=en">
        Instagram
        </a>
    </li>
</ul>

<h4>Abonnez-vous</h4>
<p>Entrez votre adresse e-mail pour recevoir les dernières dates de concerts et de sortie d'albums</p>

