<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">{{ eventItem.date }}</h4>
    <div class="list-group-item-text">
        <h6>{{ eventItem.title }}</h6>
        <p [innerHTML]="eventItem.text"></p>
    </div>
  </div>
</div>
