<div class="justify-content-center" id="audioVideoContainer">

    <ul class="list-group">

        <!-- Faith -->
        <li class="list-group-item">
            <div class="embed-responsive embed-responsive-16by9 video-container">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/OUSHTd2AjFg" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </li>

        <!-- Excelsior Clip -->
        <li class="list-group-item">
            <div class="embed-responsive embed-responsive-16by9 video-container">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/k6o1v4Hztek" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </li>

        <!-- Seven -->
        <li class="list-group-item">
            <div class="embed-responsive embed-responsive-16by9 video-container">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/9dEQv8couHA" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </li>

        <!-- Remember -->
        <li class="list-group-item">
            <div class="embed-responsive embed-responsive-16by9 video-container">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/bvf5IhA5xmE" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </li>
    </ul>

    <ul class="list-group">
        <!-- Gueules de loup -->
        <li class="list-group-item">
            <div class="embed-responsive embed-responsive-16by9 video-container">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/zGJ6gs2gEEA" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</div>