<h3 class="mt-3">Contactez-moi</h3>

<div class="mb-3">info(ate)soundflow.be</div>

<form>
    <div class="form-group"> 
        <label >*Nom:</label>
        <input type="text" class="form-control" id="senderName" required>
    </div>

    <div class="form-group">
        <label >*Email:</label>
        <input type="email" class="form-control" id="senderEmail" required>
    </div>

    <div class="form-group">
        <label >Message:</label>
        <textarea style="height:200px;" class="form-control" id="messageContent" rows="3"></textarea>
    </div>
    
    <div class="form-group">
        <div>
            <button id="submitButton" class="btn btn-success" >Envoyer</button>
        </div>
    </div>
</form>