<h4>Un mantra est une projection créative du mental par le son</h4>
<hr>

<blockquote class="blockquote">
    <p>
        "La science du mantra est fondée sur la connaissance du fait que le son est une forme d'énergie qui a une structure,
        un pouvoir et un effet prédictible précis sur les chakras et la psyché humaine."
    </p>
    <p>
        "Les mantras sont des formules qui altèrent les schémas mentaux et la chimie cérébrale, selon les lois de la physique et
        de la métaphysique. Le pouvoir du mantra est dans sa vibration sonore. Les mantras utilisés en 
        Kundalini Yoga élèvent ou modifient la conscience grâce à leur sens et à leur répétition rythmique."
    </p>
    <footer class="blockquote-footer">Yogi Bhajan, <cite title="Source Title">The Aquarian Teacher</cite></footer>
</blockquote>

<h4>Quelques mantras</h4>
<hr>

<app-mantra-item 
*ngFor="let mantra of mantraList"
[mantraItem]="mantra">
</app-mantra-item>
