<body>  
  <app-header></app-header>
    <div class="container container-fluid"> 
      <div class="container" style="margin-top:30px">
        <div class="row">
          <div class="col-sm-4">
            <app-about></app-about>
          </div>

          <div class="col-sm-8">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  <app-footer></app-footer>
</body>