<div class="justify-content-center">
    <ul class="list-group">

        <!-- Le peuple crie -->
        <li class="list-group-item">
            <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/be/album/le-peuple-crie-feat-timour-montil-single/1515823864?l=fr"></iframe>
        </li>

        <!-- Faith -->
        <li class="list-group-item">
            <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/be/album/excelsior/1491189522?i=1491189524&l=fr"></iframe>
        </li>

        <!-- Excelsior -->
        <li class="list-group-item">
            <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/be/album/faith/1506179264?i=1506179265&l=fr"></iframe>
        </li>

        <!-- Alucard -->
        <li class="list-group-item">
            <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/be/album/dark-romantism/312358068?l=fr"></iframe>
        </li>
    </ul>
</div>
