<div class="list-group">
    <div class="list-group-item">
        <h6 class="list-group-item-heading">{{ mantraItem.title }}</h6>
        <div class="list-group-item-text">
            <p>Prononciation française: <b [innerHTML]="mantraItem.lyric"></b></p>
            <p [innerHTML]="mantraItem.comment"></p>
        </div>
    </div>
</div>
